<mat-card class="card">

    <div class="header">

        <h2>Notifications</h2>

        <span>{{notifications.length}}</span>

    </div>

    <div
        class="notification"
        *ngFor="let n of notifications">

        <div
            class="icon"
            [style.background]="n.color">

            {{n.icon}}

        </div>

        <div class="content">

            <h4>{{n.title}}</h4>

            <p>{{n.message}}</p>

            <small>{{n.time}}</small>

        </div>

    </div>

</mat-card>
