.card{

padding:20px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

h2{

margin-bottom:20px;

font-size:22px;

font-weight:700;

}

.item{

display:flex;

gap:15px;

padding:12px 0;

border-bottom:1px solid #eee;

}

.item:last-child{

border:none;

}

.icon{

font-size:28px;

width:42px;

display:flex;

align-items:center;

justify-content:center;

}

h4{

margin:0;

font-size:16px;

font-weight:700;

}

p{

margin:5px 0 0;

font-size:13px;

color:#666;

}
