<div class="sidebar">

    <div class="logo">
        <mat-icon>eco</mat-icon>
        <span *ngIf="!isCollapsed">EcoTrack</span>
    </div>

    <mat-nav-list>
        @for(item of menu; track item.route){
            <a
                mat-list-item
                [routerLink]="item.route"
                routerLinkActive="active"
                [matTooltip]="isCollapsed ? item.title : ''"
                matTooltipPosition="right">
                
                <mat-icon matListItemIcon>
                    {{item.icon}}
                </mat-icon>
                <span *ngIf="!isCollapsed" class="title-text">
                    {{item.title}}
                </span>
                
                <span *ngIf="item.title === 'Notifications' && unreadCount > 0 && !isCollapsed" class="unread-badge">
                    {{ unreadCount }}
                </span>
                
                <span *ngIf="item.title === 'Notifications' && unreadCount > 0 && isCollapsed" class="unread-dot"></span>
            </a>
        }

    </mat-nav-list>

</div>
