.sidebar{

    height:100%;

    background:#218260e8;

    color:#E8F5E9;

    display:flex;

    flex-direction:column;

}

.logo{

    height:70px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    font-size:24px;

    font-weight:600;

    color:#ffffff;

    border-bottom:1px solid rgba(14, 13, 13, 0.15);

}

mat-nav-list{

    padding-top:15px;

}

a{

    color:#E8F5E9 !important;

    border-radius:10px;

    margin:6px 10px;

    font-size:15px;
    font-weight:500;

}

.active{

    background:#024406;

    color:#ffffff !important;

}

a:hover{

    background:#2D6A4F;

    color:#ffffff !important;

}

mat-icon{

    color:#A5D6A7;

}

.active mat-icon{

    color:#ffffff;

}

@media(max-width:768px){

    .logo span{

        display:none;

    }

}
