.filter-card{

display:grid;

grid-template-columns:2fr 1fr 1fr auto;

gap:18px;

margin-bottom:24px;

align-items:center;

}

mat-form-field{

width:100%;

}

button{

height:56px;

font-weight:700;

border-radius:10px;

}

@media(max-width:900px){

.filter-card{

grid-template-columns:1fr;

}

button{

width:100%;

}

}
