.card{

padding:24px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

}

h2{

margin-bottom:22px;

font-size:22px;

font-weight:700;

}

.circle{

width:180px;

height:180px;

margin:auto;

border-radius:50%;

background:conic-gradient(
#2E7D32 0% 86%,
#E0E0E0 86% 100%
);

display:flex;

justify-content:center;

align-items:center;

}

.inner{

width:135px;

height:135px;

background:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

font-weight:700;

color:#2E7D32;

}

h3{

margin:24px 0 10px;

font-size:22px;

color:#2E7D32;

}

p{

margin:0;

font-size:14px;

color:#666;

}
