<mat-card class="card">

    <div class="header">

        <button (click)="previousMonth()">

            ◀

        </button>

        <h2>

            {{month}} {{year}}

        </h2>

        <button (click)="nextMonth()">

            ▶

        </button>

    </div>

    <div class="week">

        <span *ngFor="let day of weekDays">

            {{day}}

        </span>

    </div>

    <div class="days">

        <div

            *ngFor="let day of days"

            [class.today]="isToday(day)">

            {{day}}

        </div>

    </div>

</mat-card>
