<mat-card class="card">

    <div class="header">

        <button
            class="nav-btn"
            (click)="previousMonth()">

            ◀

        </button>

        <div class="title">

            <h2>

                {{month}}

            </h2>

            <span>

                {{year}}

            </span>

        </div>

        <button
            class="nav-btn"
            (click)="nextMonth()">

            ▶

        </button>

    </div>

    <div class="weekdays">

        <div
            *ngFor="let day of weekDays">

            {{day}}

        </div>

    </div>

    <div class="calendar-grid">

        <div

            *ngFor="let day of days"

            class="day"

            [class.today]="isToday(day)"

            [class.activity-day]="hasActivity(day)"

            [class.selected]="selectedDay===day"

            (click)="selectDay(day)">

            <span>

                {{day}}

            </span>

            <small

                *ngIf="hasActivity(day)"

                class="dot">

            </small>

        </div>

    </div>

    <div
        class="activity-summary"
        *ngIf="selectedDay">

        <h4>

            {{selectedDay}} {{month}}

        </h4>

        <p>

            Activities :

            <strong>

                {{getActivityCount(selectedDay)}}

            </strong>

        </p>

    </div>

</mat-card>
