.card{

padding:25px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

text-align:center;

}

h2{

margin-bottom:20px;

font-size:22px;

font-weight:700;

}

.score-circle{

width:140px;

height:140px;

margin:auto;

position:relative;

}

svg{

width:140px;

height:140px;

transform:rotate(-90deg);

}

circle{

fill:none;

stroke-width:10;

}

.bg{

stroke:#eeeeee;

}

.progress{

stroke:#2E7D32;

stroke-linecap:round;

stroke-dasharray:377;

transition:.8s;

}

.center{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

}

.center h1{

margin:0;

font-size:34px;

color:#2E7D32;

}

.center small{

color:#777;

}

mat-progress-bar{

margin-top:25px;

height:8px;

border-radius:10px;

}

.level{

margin-top:18px;

font-size:18px;

font-weight:700;

color:#2E7D32;

}
