.card{

padding:22px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

h2{

margin-bottom:20px;

font-size:22px;

font-weight:700;

}

.value{

font-size:36px;

font-weight:700;

color:#2E7D32;

margin-bottom:20px;

}

mat-progress-bar{

height:10px;

border-radius:10px;

}

.footer{

display:flex;

justify-content:space-between;

margin-top:18px;

font-weight:600;

color:#666;

}
