.full-width{

width:100%;

}

mat-dialog-content{

display:flex;

flex-direction:column;

gap:18px;

min-width:450px;

padding-top:10px;

}

mat-dialog-actions{

padding-top:20px;

}

button{

min-width:110px;

}
