<mat-card class="card">

    <h2>

        Quick Actions

    </h2>

    <div class="grid">

        <button
            class="green"
            (click)="addActivity()">

            <span>➕</span>

            Add Activity

        </button>

        <button
            class="blue"
            (click)="openActivities()">

            <span>📋</span>

            Activities

        </button>

        <button
            class="purple"
            (click)="exportCSV()">

            <span>⬇️</span>

            Export CSV

        </button>

        <button
            class="orange"
            (click)="reports()">

            <span>📊</span>

            Reports

        </button>

        <button
            class="cyan"
            (click)="syncData()">

            <span>☁️</span>

            Sync

        </button>

        <button
            class="red"
            (click)="clearActivities()">

            <span>🗑️</span>

            Clear Data

        </button>

    </div>

</mat-card>
