mat-card{

    padding:24px;

    height:100%;

}

.actions{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    margin-top:20px;

}

button{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:18px;

}

@media(max-width:768px){

    .actions{

        grid-template-columns:1fr;

    }

}
