.card{

padding:20px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

h2{

margin-bottom:20px;

font-size:22px;

font-weight:700;

}

button{

width:100%;

margin-bottom:15px;

padding:14px;

border:none;

border-radius:12px;

background:#2E7D32;

color:white;

font-size:15px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

background:#1B5E20;

}

button:last-child{

margin-bottom:0;

}
