<mat-sidenav-container
  class="layout-container"
  [class.sidebar-collapsed]="isSidebarCollapsed && !isMobile"
  autosize>


  <!-- =====================================================
       SIDEBAR
       ===================================================== -->

  <mat-sidenav
    #sidenav
    class="sidebar"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    [fixedInViewport]="true"
    fixedTopGap="0"
    fixedBottomGap="0">

    <app-sidebar></app-sidebar>

  </mat-sidenav>


  <!-- =====================================================
       MAIN AREA
       ===================================================== -->

  <mat-sidenav-content
    class="main-content">


    <!-- HEADER -->

    <app-header></app-header>


    <!-- ROUTED PAGE -->

    <main class="content">

      <router-outlet></router-outlet>

      <!-- FOOTER -->
      <app-footer></app-footer>

    </main>

  </mat-sidenav-content>


</mat-sidenav-container>
