<mat-card class="card">

    <div class="header">

        <div>

            <h2>Activity Analytics</h2>

            <p>Your sustainability overview</p>

        </div>

        <div class="progress-circle">

            <div class="circle">

                {{progress | number:'1.0-0'}}%

            </div>

        </div>

    </div>

    <div class="grid">

        <div class="box">

            <h3>{{totalActivities}}</h3>

            <span>Total Activities</span>

        </div>

        <div class="box">

            <h3>{{carbonSaved}} kg</h3>

            <span>Carbon Saved</span>

        </div>

        <div class="box">

            <h3>{{averageCarbon}} kg</h3>

            <span>Average / Activity</span>

        </div>

        <div class="box">

            <h3>{{bestCategory}}</h3>

            <span>Top Category</span>

        </div>

    </div>

</mat-card>
