<mat-card class="card">

    <div class="top">

        <img
            src="https://ui-avatars.com/api/?name=Harshit+Rai&background=2E7D32&color=fff&size=256"
            alt="Profile">

        <div>

            <h2>

                {{user.name}}

            </h2>

            <p>

                {{user.email}}

            </p>

            <span class="level">

                {{user.level}}

            </span>

        </div>

    </div>

    <div class="stats">

        <div>

            <h3>{{user.carbon}}</h3>

            <span>Carbon Saved</span>

        </div>

        <div>

            <h3>{{user.streak}}</h3>

            <span>Current Streak</span>

        </div>

        <div>

            <h3>{{user.score}}</h3>

            <span>Sustainability</span>

        </div>

    </div>

    <p class="member">

        Member since {{user.joined}}

    </p>

   <button (click)="editProfile()">

    Edit Profile

</button>

</mat-card>
