.card{

padding:20px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

h2{

margin-bottom:18px;

font-size:22px;

font-weight:700;

}

table{

width:100%;

border-collapse:collapse;

}

th{

padding:12px;

font-size:14px;

font-weight:700;

border-bottom:2px solid #ddd;

text-align:left;

}

td{

padding:12px;

border-bottom:1px solid #eee;

font-size:14px;

}

.icon{

font-size:22px;

width:45px;

}

tbody tr:hover{

background:#f5fff6;

}
