<mat-card class="card">

    <div class="header">

        <h2>Recent Activities</h2>

        <span class="count">

            {{activities.length}} Activities

        </span>

    </div>

    <div
        class="empty"
        *ngIf="activities.length==0">

        <h3>No Activities Yet</h3>

        <p>

            Start adding eco-friendly activities.

        </p>

    </div>

    <div
        class="activity"
        *ngFor="let activity of activities">

        <div class="left">

            <div class="emoji">

                {{getIcon(activity.category)}}

            </div>

            <div>

                <h4>

                    {{activity.title}}

                </h4>

                <small>

                    {{activity.category}}

                </small>

            </div>

        </div>

        <div class="right">

            <span
                class="badge"
                [style.background]="getBadgeColor(activity.carbon)">

                +{{activity.carbon}} kg

            </span>

            <small>

                {{getRelativeDate(activity.date)}}

            </small>

        </div>

    </div>

</mat-card>
