mat-card{

    padding:24px;

    height:100%;

}

.activity-table{

    width:100%;

}

mat-icon{

    color:#2E7D32;

}

table{

    margin-top:20px;

}

@media(max-width:768px){

    table{

        font-size:13px;

    }

}
