<h2 mat-dialog-title>Add New Activity</h2>

<mat-dialog-content>

  <!-- Activity Title -->

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Activity Title</mat-label>

    <input
      matInput
      maxlength="60"
      [(ngModel)]="activity.title"
      placeholder="e.g. Walked 5 km">

    <mat-hint align="end">
      {{activity.title.length}} / 60
    </mat-hint>

  </mat-form-field>

  <!-- Category -->

  <mat-form-field appearance="outline" class="full-width">

    <mat-label>Category</mat-label>

    <mat-select [(ngModel)]="activity.category">

      <mat-option
        *ngFor="let item of categories"
        [value]="item">

        {{item}}

      </mat-option>

    </mat-select>

  </mat-form-field>

  <!-- Carbon -->

  <mat-form-field appearance="outline" class="full-width">

    <mat-label>Carbon Saved (kg)</mat-label>

    <input
      matInput
      type="number"
      min="0"
      step="0.1"
      [(ngModel)]="activity.carbon">

  </mat-form-field>

  <!-- Date -->

  <mat-form-field appearance="outline" class="full-width">

    <mat-label>Date</mat-label>

    <input
      matInput
      type="date"
      [(ngModel)]="activity.date">

  </mat-form-field>

  <!-- Notes -->

  <mat-form-field appearance="outline" class="full-width">

    <mat-label>Notes</mat-label>

    <textarea
      matInput
      rows="4"
      maxlength="250"
      [(ngModel)]="activity.notes">

    </textarea>

    <mat-hint align="end">
      {{activity.notes.length}} / 250
    </mat-hint>

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-stroked-button
    color="warn"
    (click)="resetForm()">

    Reset

  </button>

  <button
    mat-button
    (click)="cancel()">

    Cancel

  </button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="
      !activity.title ||
      !activity.category ||
      activity.carbon <= 0 ||
      !activity.date
    "
    (click)="save()">

    Save Activity

  </button>

</mat-dialog-actions>
