<h2 mat-dialog-title>
  Add Activity
</h2>


<mat-dialog-content>


  <mat-form-field
    appearance="outline"
    class="full-width">

    <mat-label>
      Category
    </mat-label>

    <mat-select
      [(ngModel)]="category">

      @for (
        item of categories;
        track item
      ) {

        <mat-option
          [value]="item">

          {{ item }}

        </mat-option>

      }

    </mat-select>

  </mat-form-field>


  <mat-form-field
    appearance="outline"
    class="full-width">

    <mat-label>
      Activity
    </mat-label>

    <input
      matInput
      [(ngModel)]="activity"
      placeholder="Example: Car Travel">

  </mat-form-field>


  <mat-form-field
    appearance="outline"
    class="full-width">

    <mat-label>
      Quantity
    </mat-label>

    <input
      matInput
      type="number"
      [(ngModel)]="quantity"
      min="0">

  </mat-form-field>


  <mat-form-field
    appearance="outline"
    class="full-width">

    <mat-label>
      Unit
    </mat-label>

    <mat-select
      [(ngModel)]="unit">

      @for (
        item of units;
        track item
      ) {

        <mat-option
          [value]="item">

          {{ item }}

        </mat-option>

      }

    </mat-select>

  </mat-form-field>


  @if (errorMessage) {

    <div class="error-message">

      {{ errorMessage }}

    </div>

  }


</mat-dialog-content>


<mat-dialog-actions
  align="end">


  <button
    mat-button
    type="button"
    (click)="cancel()"
    [disabled]="saving">

    Cancel

  </button>


  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="save()"
    [disabled]="saving">

    @if (saving) {

      Saving...

    }

    @else {

      Save Activity

    }

  </button>


</mat-dialog-actions>
